.Popup{
position: fixed;
background-color: rgb(167, 111, 193);
align-content: center;
justify-content: center;
width: max-content;
margin-left: 8.33%;
height: max-content;


}
.input{
    border-radius:5px 5px 5px 5px;
    padding: 5px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    color: rgb(7, 6, 7);
  }
.inner{
    position: relative;
    padding: 40px;
    width: 100%;
   
background-color: rgb(122, 100, 133);


 
}
.inner-btn{
    position: absolute;
    top :10px;
    right: 16px;

}
@media screen and (max-width:600px) {
    .Popup{
        margin-left: 0%;
    }
     .inner{
            position: relative;
            padding: 40px;
            width:100%;
        background-color: rgb(122, 100, 133);
        }
    
}