.LoginBox{
    margin: auto;
 text-align: center;
 align-content: center;
 padding: 2rem;
 width: 60rem;
 height: auto;

}
.Login{
 margin: auto;
 box-sizing: border-box;
}
.icon{
 text-align: center;
 align-items: center;
 color: rgb(132, 51, 169);
 justify-content: center;
}
.LoginWord {
 font-weight: bold;
 text-align: center;
 font-size: 25px;
 color: black;
}