.Gallery{
    width: 100%;
    height: max-content;
    display: flex;
   align-content: center;
   margin: auto;
   

}
.item {
    position: relative;
    padding-top: 0px;
    text-align: center;
    height: 15rem;
    width: 25rem;
    display: flex;
    align-content: center;
    margin: auto;

  }
  .caption{
      width: 20rem;
      text-align: left;
      position: absolute;
      font-size: 15px;
      background-color: rgb(240, 221, 247);
      padding: 20px;
      margin: auto;
      text-align: center;
      
  }
 @media  screen and (max-width:400px) {
  .item{
    height: 15rem;
    width: 34rem;
    float: left;


    }
  
}
  